﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" CodeBehind="Default.aspx.cs" Inherits="Assignment2b.Default" %>
<asp:Content id="body" ContentPlaceHolderID="basicConcept" runat="server">
    
</asp:Content>
