﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" CodeBehind="digital.aspx.cs" Inherits="Assignment2b.digital" %>
<asp:Content  ContentPlaceHolderID="basicConcept" runat="server">
    
      
   
                <h2>About Digital Design</h2>
                <p>
                    This subject is related how the design and layout of a website looklike to the client. In this course i got the information about 
                    the semantics,ids ,class and how i can use them to get a specific design.
                </p>
                

   </asp:Content>     
            
<asp:Content ContentPlaceHolderID="mySnippetCode" runat="server">        
     
   
   <h2>My Code for the assignment</h2>
    
     <asp:CodeBox ID="My_Html_Code" runat="server" SkinId="CodeBox" code="My_Html" owner="Me"></asp:CodeBox>
 
            <p>This will create a form that will take user first name ,
                last name and will have submit button to submit these details.</p>
          

</asp:Content>      





<asp:Content ContentPlaceHolderID="referenceSnippetCode" runat="server">        
     
    <h2>HTML Example</h2>
                <p>This will change the backgroung color to power blue and will p.I have taken this example from W3School.</p>
    
     <asp:CodeBox ID="Teacher_Html_Code" runat="server" SkinId="CodeBox" code="Teacher_Html" owner="Teacher"></asp:CodeBox>



</asp:Content>  






<asp:Content ContentPlaceHolderID="link" runat="server">        
     
   
    <h2>List of helpful links</h2>
               <ul>
                    <li><a href="https://www.w3schools.com/html/default.asp">W 3 SCHOOL</a></li>
                     <li><a href="https://www.encyclopedia.com/science-and-technology/computers-and-electrical-engineering/computers-and-computing/html"</a>Encylopedia</li>
                     <li><a href="https://en.wikipedia.org/wiki/HTML">Wikipedia</a></li>
                     
                </ul>
                

</asp:Content>  
            
            
           
    
    

